html(lang="en")
  head
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1.0")
    meta(http - equiv="X-UA-Compatible", content = "ie=edge")
    link(rel = "stylesheet", href = "./style.css")
    link(href = "https://fonts.googleapis.com/css?family=Noto+Sans" rel = "stylesheet")
    title Portfolio
  body
    .wrapper
      .section.section1
        .email Email 
          span vrt921@gmail.com
        .bday Birthday 
          span September 21st, 2000
        br
        p 
          span My 
          | name is Dongha Seo. My primary hobbies are self-teaching the and learning programming languages.
      .section.section2
        h1 Programming
        .col-3
          img(src = 'https://images.unsplash.com/photo-1472437774355-71ab6752b434?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dd4d735954f33290fbf984e4eb7abe32&auto=format&fit=crop&w=500&q=60')
          p 
            span Through 
            | Through the experiences I went through during Guatemala trip, not only did I help build facilities that villagers desperately needed, I was also able to deliver them a message of hope; and, in turn, they were able to teach me the importance of hard work and appreciating what you have in life.I participated in three different trips.I have been to Dominican Republic in 2015, and I visited Guatemala in 2016 and 2017.
          div.links
            a(href='bounce.html', style='background-image:url("https://images.unsplash.com/photo-1537884944318-390069bb8665?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ac8689980d9bee9b676253cb52d6ce36&auto=format&fit=crop&w=500&q=60")') Bounce Ball Simulator
            a(href='starwars.html', style='background-image:url("https://images.unsplash.com/photo-1515704089429-fd06e6668458?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3860371df6121bd9176d5889b487c3e1&auto=format&fit=crop&w=500&q=60")') Star Wars Menu
            a(href='agario.html', style='background-image:url("https://images.unsplash.com/photo-1507721999472-8ed4421c4af2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3b5de7ef1f866b5c56adb3ef5d841c1c&auto=format&fit=crop&w=500&q=60")') Agario
      .section.section3
        h1 Achievements
        .grid
          a.kendo(href='#kendo') Kendo
            .bg(style='background-image:url("kendo.jpg")') 
          .achievements Achievements
            .bg(style='background-image:url("achievements.jpg")')
          a.modelun(href='#modelun') MODELUN
            .bg(style='background-image:url("modelun.jpg")')
        h1#kendo Kendo
        .grid2
          img(src='dKendo4Ryu.jpg')
          img(src='dKendo3Ryu.jpg')
          img(src='Kendo2Ryu.jpg')
          img(src='dKendo1Ryu.jpg')
          img(src='Kendo1Dan.jpg')
          img(src='Kendo1Dan.jpg')
        h1#modelun ModelUN
        .grid3
          img(src='dmun-camp.jpg')
          img(src='dmun-socomun.jpg')
          img(src='dmun-tustin.jpg')
          img(src='dmun-tustinresearch.jpg')
          img(src='dmun-huntington.jpg')

